<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Number</th>
        <th scope="col">Age</th>
        <th scope="col">Position</th>
    </tr>
    </thead>
    <tbody>
    {% for player in players %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ player.name }}</td>
            <td>{{ player.number }}</td>
            <td>{{ player.age }}</td>
            <td>{{ player.position }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>